div{
    display: inline-block;
    background-color: blueviolet;
}
.one{
    width: 25%;
    position: absolute;
}
.two{
    width: 25%;
    position: absolute;
    left: 27.25%;
}
.three{
    width: 45%;
    position: absolute;
    left: 53%;
}