html{
  background-color: cornflowerblue;
}

#hello{
    background:aqua ;
    color: cornsilk;
    text-align: center;
}

#world{
    background: darkorchid;
    color:aliceblue;
    text-align: center;

}
img{
  height: 200px;
  width:200px;
}